/* CSS styles for the header and layout */
body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #f1f1f1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  h1 {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .logout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
  }

  .logout-button:hover {
    background-color: #45a049;
  }